.cart {
  padding: 3rem 0;

  &-container {
    display: flex;
    justify-content: space-between;

    &__details {
      width: 75%;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      border-radius: 0.3rem;

      &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;

        &__right {
          display: flex;
          align-items: center;

          img {
            width: 150px;
            height: 150px;
            border-radius: 1rem;
          }
          &-product {
            font-size: 1.1rem;
            color: #df2020;
            margin-right: 1rem;

            &__title {
              font-weight: 600;
            }
            &__price{
                color: #212245;
            }
          }
        }
        &__left {
          button {
            border: unset;
            border-radius: 50%;
            width: 35px;
            height: 35px;
          }
          &-quantity {
            font-size: 1.1rem;
            margin: 0 1rem;
            
          }
          &-btn {
            background-color: transparent;
            color: #df2020;
            margin-right: 2rem;
          }
        }
      }
    }
    &__factor {
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      border-radius: 0.3rem;
      width: 20%;
      height: 230px;
      padding: 0.5rem 0.8rem;

      &-total,
      &-finall,
      &-offprice,
      &-count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.1rem;

        span:first-child {
          font-weight: 600;
        }
      }
      &-btn {
        width: 100%;
        background-color: #df2020;
        color: #fde4e4;
        border-radius: 0.3rem;
        border: none;
        font-size: 1.1rem;
        padding: 0.4rem 0;
      }
    }

    @media screen and (max-width: 1024px) {
      &__details {
        width: 68%;
        padding: 0.2rem 0.5rem;
      }
      &__factor {
        width: 30%;
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      &__details {
        width: 100%;
        padding: 0.2rem 0.5rem;
        margin-bottom: 3rem;

        &-box {
          &__right {
            img {
              height: 150px;
              width: 150px;
            }
          }
        }
      }
      &__factor {
        width: 100%;
      }
    }
    @media screen and (max-width: 570px) {
      flex-direction: column;
      &__details {
        width: 100%;
        padding: 0.2rem 0.5rem;
        margin-bottom: 3rem;

        &-box {
          &__right {
            img {
              height: 90px;
              width: 90px;
            }
            &-product {
              font-size: 0.9rem;
            }
          }
          &__left {
            button {
              margin-right: 1.5rem;
            }
          }
        }
      }
      &__factor {
        width: 100%;
      }
    }
  }
}
