.navs {
  padding: 1rem 0;
  position: relative;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      display: flex;
      align-items: center;

      img {
        width: 35px;
        height: 35px;
      }
      span {
        font-size: 1.2rem;
        font-weight: 500;
        color: #212245;
        margin-right: 0.2rem;
      }
    }
    &__links,
    &__action {
      a {
        margin: 0 0 0 1.5rem;
        color: #212245;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 400;
        transition: all 0.4s ease-in-out;

        &:hover {
          color: #df2020;
          transition: all 0.4s ease-in-out;
        }
      }

      &-icon {
        position: relative;

        &__span {
          position: absolute;
          content: "";
          font-size: 0.9rem;
          background-color: #df2020;
          color: #fde4e4;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          text-align: center;
          top: -25%;
          right: -25%;

          &.visi {
            visibility: hidden;
          }
        }
      }
    }

    &__icon {
      display: none;
    }

    @media screen and (max-width: 768px) {
      &__links {
        position: absolute;
        content: "";
        display: flex;
        flex-direction: column;
        top: 95%;
        background-color: #f2f4f5;
        width: 100%;
        right: 0;
        line-height: 3;
        z-index: -1;
        text-align: center;
        opacity: 0;
        transition: all 0.4s ease-in-out;

        &.active-links {
          opacity: 1;
          z-index: 5;
          transition: all 0.4s ease-in-out;
        }
      }
      &__action {
        a {
          margin-left: 0;
          margin-right: 0.3rem;
        }
      }
      &__icon {
        display: flex;
        cursor: pointer;
      }
    }
  }
}
