.header {
  padding: 3rem 0;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 45%;
    }
    &__details {
      width: 45%;
      text-align: right;
      color: #212245;

      &-head {
        font-size: 1.1rem;
        opacity: 0.7;
      }
      &-title {
        margin: 1.5rem 0;
        font-size: 2rem;
        font-weight: bold;

        span {
          color: #df2020;
        }
      }
      &-actions {
        padding: 1rem 0;
        display: flex;
        align-items: center;

        a {
          margin-left: 1rem;

          button {
            width: 150px;
            height: 40px;
            border: none;
            border-radius: 0.3rem;
            background-color: #df2020;
            color: #fde4e4;
            font-size: 1.1rem;

            &.action-btn {
              background-color: #fcfcfc;
              color: #df2020;
              border: 1px solid #df2020;
            }
          }
        }
      }
      &-footer {
        padding-top: 1rem;
        display: flex;
        align-items: center;

        &__text {
          margin-left: 1rem;

          span:first-child {
            color: #df2020;
            margin-left: 0.2rem;
          }
          span:last-child {
            color: #212245;
          }
        }
      }
    }
  }
  &-bottom{
    background-color: #df2020;
  }
}
